.view {
    text-align: start;
    width: 100%;
    margin-left: 20px;
    font-weight: bold;
    display: flex;
}

.fullName {
    margin-bottom: 20px;
    margin-right: 20px;
}

.password {
    margin-bottom: 20px;
    margin-right: 20px;
}

.role {
    margin-bottom: 20px;
    margin-right: 20px;
}

.department {
    margin-bottom: 20px;
    margin-right: 20px;
}