.topnav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    top: 0px;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}
  
.topnav a:hover {
    border-bottom: 3px solid red;
}

.edit-acc {
    display: flex;
    float:right
}

/* Body main */
.body-staffsubmission {
    margin: 23px 38px;
}